@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* cursor: pointer; */
    /* font-family: "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic"; */
    font-family: "Poppins", sans-serif;
}

body {

    background-color: black;
    color: white;

}


.left {
    width: 23vw;
    padding: 5px 2px 0 5px;
}

.right {
    width: 75vw;
}

.home {}

.home ul li {
    display: flex;
    gap: 13px;
    width: 23px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 13px;
    width: 100%;
    padding: 23px 14px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 9px;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 65vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 11px;
    gap: 8px;
    position: absolute;
    bottom: 0;
    max-width: 80%;
    flex-wrap: wrap;
    padding: 6px;
    box-sizing: border-box;

}

.footer a {
    padding: 5px;
    color: rgb(186, 184, 184);
    list-style: none;
    text-decoration: none;

}

.right {
    box-sizing: border-box;
    height: 89.5vh;
    margin: 10px 8px 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
   
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header>* {
    padding: 10px;
}

.nav{
    align-items: center;
    display: flex;
}

.spotifyPlaylists {
    padding: 10px;

}

.cardContainer {
    width: 73vw;
    margin: 10px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    height: 36vh;

}

.card {
    width: 138px;
    padding: 9px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 3px;
}

.card h2 {
    color: #FFFFFF;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.card p {
    color: #B3B3B3;
    font-size: 12.5px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 90px;
    right: 17px;
}

.signupbtn{
    background-color: rgb(34 34 34);
    cursor: pointer;
    color: #C7C7C7;;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0 34px 0 0;
}

.loginbtn{
    background-color: #C7C7C7;
    border-radius: 9999px;
	box-sizing: border-box;
    cursor: pointer;
    padding: 8px 32px;
    min-height: 48px;
    transform: matrix(1, 0, 0, 1, 0, 0);
	transition: background-color 0.033s, transform 0.033s;
	font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
	font-weight: 700;
    position: relative;
}


